@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    
  }
  .darkbg{
    background-color: darkslategrey;
  }

  #app {
    display: flex;
    place-items: center;
    padding: 0 2rem;
  }
}
