@import './base.css';

#app {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.darkbg{
    background-color: darkslategrey;
  }
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    
  }
  

  #mainApp {
    border-radius: 2rem;
    background-color: rgba(105, 105, 105, 0.5);
 
    place-items: center;
    padding: 2rem;
  }
}
